<!doctype html>
<html lang="en" ng-app="ffdJobCalc">
<head>
  <meta charset="utf-8">
  <title>Final Fantasy Dimensions Job Calc</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/flat-ui.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <!--<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39217394-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->
</head>
<body ng-controller="CharacterController">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">Final Fantasy Dimensions JobCalc</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="http://infomofo.github.com/ffd-jobcalc">About</a></li>
              <li><a href="https://github.com/infomofo/ffd-jobcalc/issues">Report an Issue</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container wrap">

      <h1>Final Fantasy Dimensions JP Calculator</h1>
      <p>Plan builds for the eight customizable characters in Final Fantasy Dimensions.</p>
      <div class="row">
        <div class="span3">
          <select name="selected_character" ng-model="selected_character" ng-options=' c.name + " (" + c.side + ")" for c in characters' onChange="{{onCharacterSelect()}}" popover-title="Character Selection" popover-placement="bottom" popover="Each character comes with a different set of innate abilities available to them, additionally, each character is associated with either the light or dark set of Job options." >
            <option value="">select a character</option>
          </select>
        </div>
        <div class="span2 offset7">
          <a ng-click="reset()" class="btn btn-danger" popover-title="Reset" popover-placement="left" popover="Click to reset character selection and all spent JP" >Reset</a>
        </div>
      </div> 
      <div class="row" ng-show="selected_character">
          <div class="span4">
            <ul class="thumbnails ">
              <li class="span4">
                <div class="thumbnail character_profile">
                  <span style="float:right" class="label {{selected_character.side}}_label">{{selected_character.side}}</span>
                  <img ng-src="{{selected_character.image}}" class="img-polaroid" alt="">
                  <h3>{{selected_character.name}}</h3> 
                  <p class="visible-desktop">{{selected_character.description}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="">
            <div class="well span1">
              <p><span class="badge badge-jp" popover-title="Job Points" popover-placement="bottom" popover="Any job level over 3 requires the use of Job Points.  There are a total of 69 JP earned during the storyline of Final Fantasy Dimensions.  After defeating the final boss you have the option of completing additional dungeons for additional JP.  Additionally, there are Moogle Coins available in chests that can be redeemed for 3 JP each, but they are extremely rare." >{{spent_jp()}} JP</span></p>
              <p><span class="badge badge-ap" popover-title="Ability Points" popover-placement="bottom" popover="Ability Points are earned by defeating enemies in battle." >{{spent_ap()}} AP</span></p>
            </div>
            <div class="well span2">
            <p>Unlocked Fusions</p>
            <ul>
              <li ng-repeat='fusion in unlockedFusions()' popover-title="{{fusion.name}}" popover-placement="left" popover="{{fusion.description}} ({{fusion.mp}} MP).  Requires: {{fusion.requirements[0]}} and {{fusion.requirements[1]}}">{{fusion.name}}</li> 
            </ul>
            </div>
          </div>
          <div class="span2 well spellbook">
      	    <p>Abilities </p>
      	    <ul>
              <li ng-repeat='ability in abilities|filter:isAcquired' popover-title="{{ability.id}}" popover-placement="left" popover="{{abilityTooltip(ability)}}">{{ability.id}}</li>
            </ul>
      	  </div>
      </div>
      <div ng-show="selected_character">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="row" ng-show="selected_character">
          <table id="flip-scroll" class="span12 table table-bordered table-condensed cf">
            <thead class="cf">
              <tr>
                <th>Job</th>
                <th class="level baseline"><span popover="Click in this column to decrease points spent in any job" popover-placement="right">0</span></th>
                <th class="level free">1</th>
                <th class="level free">2</th>
                <th class="level free">3</th>
                <th class="level">4</th>
                <th class="level">5</th>
                <th class="level">6</th>
                <th class="level">7</th>
                <th class="level">8</th>
                <th class="level">9</th>
                <th class="level">10</th>
                <th class="level">11</th>
                <th class="level">12</th>
                <th class="level">13</th>
                <th class="level">14</th>
                <th class="level">15</th>
                <th class="level">16</th>
                <th class="level">17</th>
                <th class="level">18</th>
                <th class="level">19</th>
                <th class="level">20</th>
              </tr>
	  </thead>
	  </tbody>
              <tr ng-repeat="job in jobs|filter:{side:selected_character.side}">
                <td ng-click="levelTowards(job.name,0)"><img ng-src="{{job.image}}" class="img-rounded visible-desktop" popover-placement="right" popover-title="{{job.name}}" popover="{{job.description}}"/><p class="hidden-phone">{{job.name}}</p><abbr class="visible-phone" title="{{job.name}}">{{job.abbr}}</abbr>
                </td>
                <td class="baseline" ng-click="levelTowards(job.name,0)"></td>
                <td ng-repeat="level in job.levels" ng-class="getLevelClass(job.name,level.level)" ng-click="levelTowards(job.name, level.level)">
                  <span style="float:left" 
                    ng-repeat="ability in abilities|filter:{id:level.ability}" 
                    class="label ability-{{ability.type}}" 
                    popover="{{ability.id}}" 
                    popover-title="{{ability.type}} ability"
                    popover-placement="bottom"> <i class="icon-bolt"></i> </span>
                  <span ng-show="level.spells != undefined" style="float:right" 
                      class="label spell-label" 
                      popover="{{level.spells}}" 
                      popover-title="Spells/Abilities"
                      popover-placement="bottom"><i class="icon-magic"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
          <div id="push"></div>
      </div>
      <div id="footer">
      <div class="container">
        <p class="muted credit"> Created with </p>
        <ul class="footer-links">
          <li><a href="http://angularjs.org/">Angular.js</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://angular-ui.github.com/bootstrap/">AngularUI</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://fortawesome.github.com/Font-Awesome/">Font-Awesome</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://pages.github.com/">Github Pages</a></li>
        </ul>
      </div>
    </div>
  <!-- /container -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/angular-ui.js"></script>
  <script src="js/ui-bootstrap-tpls-0.2.0.js"></script>
<!--  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>-->
</body>
</html>
